<div class="dashboard-birthday-item" tabindex="0" role="article" [attr.aria-label]="'Birthday card for ' + birthday.name">
  <div class="dashboard-avatar">
    @if (birthday.photo) {
      <img
        [src]="birthday.photo"
        [alt]="birthday.name"
        class="dashboard-photo"
        width="200"
        height="200"
        loading="lazy"
        decoding="async"
        />
    } @else {
      <mat-icon class="dashboard-default-icon">person</mat-icon>
    }
  </div>

  <div class="dashboard-birthday-content">
    <div class="dashboard-birthday-info">
      <div class="dashboard-name">
        {{ birthday.name }}
      </div>
      <div class="dashboard-age compact-hide">
        {{ age }} years old
      </div>
    </div>

    <div class="dashboard-birthday-details compact-hide">
      <div class="dashboard-birth-date">
        <mat-icon class="small-icon">cake</mat-icon>
        {{ birthDateDisplay | date : 'EEEE, MMMM dd, yyyy' }}
      </div>
      @if (birthday.notes) {
        <div class="dashboard-notes">
          <mat-icon class="small-icon">note</mat-icon>
          {{ birthday.notes }}
        </div>
      }
    </div>
  </div>

  <div class="dashboard-actions">
    <div
      class="birthday-days-circle"
      [class]="daysChipClass"
      >
      <div class="days-circle-content">
        <div class="days-number">
          {{ daysText }}
        </div>
      </div>
    </div>
  </div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="itemMenu"
    class="compact-menu-btn"
    aria-label="More options"
    (click)="$event.stopPropagation()"
    >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #itemMenu="matMenu" class="birthday-item-menu">
    <div mat-menu-item disabled class="menu-info-item">
      <mat-icon>person</mat-icon>
      <span>{{ age }} years old</span>
    </div>
    <div mat-menu-item disabled class="menu-info-item">
      <mat-icon>cake</mat-icon>
      <span>{{ birthDateDisplay | date : 'MMM dd, yyyy' }}</span>
    </div>
    @if (birthday.notes) {
      <div mat-menu-item disabled class="menu-info-item">
        <mat-icon>note</mat-icon>
        <span>{{ birthday.notes }}</span>
      </div>
    }
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onEdit($event)" data-testid="edit-birthday-button">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="onDelete()" data-testid="delete-birthday-button">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>

  <div class="dashboard-toolbar compact-hide">
    <app-category-icon
      [categoryId]="birthday.category || defaultCategory"
      cssClass="dashboard-category-inline"
    ></app-category-icon>
    @if (birthday.zodiacSign) {
      <app-zodiac-icon
        [zodiacSign]="birthday.zodiacSign"
        cssClass="dashboard-zodiac-inline"
      ></app-zodiac-icon>
    }
    <app-message-indicator
      [birthday]="birthday"
    ></app-message-indicator>
    <app-remember-photo
      [photoUrl]="birthday.rememberPhoto"
      [birthdayName]="birthday.name"
      (share)="onShareRememberPhoto()"
      (download)="onDownloadRememberPhoto()"
    ></app-remember-photo>
    <div class="toolbar-spacer"></div>
    <button
      mat-icon-button
      color="primary"
      (click)="onEdit($event)"
      class="edit-button-circle"
      matTooltip="Edit birthday"
      [attr.aria-label]="'Edit ' + birthday.name + ' birthday'"
      data-testid="edit-birthday-button"
      >
      <mat-icon class="edit-icon">edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="onDelete()"
      class="delete-button-circle"
      matTooltip="Delete birthday"
      [attr.aria-label]="'Delete ' + birthday.name + ' birthday'"
      data-testid="delete-birthday-button"
      >
      <img
        src="assets/icons/delete-button.png"
        alt="Delete"
        class="delete-icon"
        width="34"
        height="34"
        loading="lazy"
        decoding="async"
        />
    </button>
  </div>
</div>
